@font-face {
    font-family: 'OpenSansLight';
    src: url('opensans-light_0.eot');
    src: url('opensans-light_0.eot') format('embedded-opentype'),
         url('opensans-light_0.woff') format('woff'),
         url('opensans-light_0.ttf') format('truetype'),
         url('opensans-light_0.svg#OpenSansLight') format('svg');
}
