.div_total 
{
    width: 600px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}

.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    text-align:left;
    color:navy;
    margin-left:1%;
  }
.div_Break
{
    clear: both;
}

.div_branchddl{

    width:46%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_branchddl input,select{

    width:100%;
}

.div_mailidtxt{
     width:46%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_mailidtxt input,Text{
     width:100%;
}
.div_btn{

    width:5%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_grdviewMail{
     width:98%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}