.div_Main
{
    background-color: #0061AE;
    color: White;
    width: 67%;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;
}
.div_total
{    
    width:1000px;
    background-color:#F8F8F8;
   -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
   -moz-box-shadow   : 8px 8px 8px rgba(0,0,0,.15);
   box-shadow        : 8px 8px 8px rgba(0,0,0,.15);
}
.div_Break
{
    clear: both;
}
.div_module
{
    float: left;
    width: 6%;
    margin-top: 0.5%;
    margin-left: 1%;
}
.div_moduleddl
{
    float: left;
    width: 15%;
    margin-top: 0.5%;
    margin-left: 1%;
}
.div_moduleddl input, Select
{
    width: 100%;
}
.div_Grid
{
    width:100%;
    height:415px;
    float: left;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom:0%;
    overflow: auto;
    border:solid 1px;
}
.div_btn
{
    float: right;    
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 0.8%;
    text-align:right;
}
