

.div_total {
    width: 700px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}

.lbl_Header1 {
    font-size: 12pt;
    font-family: sans-serif;
    text-align: left;
    color: navy;
    margin-left: 1%;
}

.div_Break {
    clear: both;
}


.div_jobtxt {
    width: 10%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

    .div_jobtxt input, Text {
        width: 100%;
    }


.div_TruckTxt {
    width: 23.5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

    .div_TruckTxt input, Text {
        width: 100%;
    }

.div_FromPorttxt {
    width: 23.5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

    .div_FromPorttxt input, Text {
        width: 100%;
    }

.div_ToPorttxt {
    width: 23.5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

    .div_ToPorttxt input, Text {
        width: 100%;
    }

.div_ETDtxt {
    width: 11.5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

    .div_ETDtxt input, Text {
        width: 100%;
    }

.div_ETAtxt {
    width: 11.5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

    .div_ETAtxt input, Text {
        width: 100%;
    }

.div_shippingBilltxt {
    width: 15%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

    .div_shippingBilltxt input, Text {
        width: 100%;
    }

.div_customerNametxt {
    width: 30%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

    .div_customerNametxt input, Text {
        width: 100%;
    }

.div_NoOfPackagestxt {
    width: 10%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

    .div_NoOfPackagestxt input, Text {
        width: 100%;
    }

.div_Packagetypeddl {
    width: 15%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

    .div_Packagetypeddl input, select {
        width: 100%;
    }

.div_weighttxt {
    width: 8%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

    .div_weighttxt input, Text {
        width: 100%;
    }

.div_CBMtxt {
    width: 9%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

    .div_CBMtxt input, Text {
        width: 100%;
    }

.div_btnAdd {
    width: 5%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

.div_grdViewJobinfo {
    width: 98%;
   height:200px;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
    border:1px solid gray;
   overflow:auto;
}

.div_btn {
    float: right;
    margin-right: 1.5%;
    margin-top: 1%;
}

.div_lnkJob {
    
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
    border-color: red;
}
