
.div_total 
{
    width: 750px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}

.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    text-align:left;
    color:navy;
    margin-left:1%;
  }
.div_Break
{
    clear: both;
}

.div_joblnk{
      width:5%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_jobnotxt{
       width:10%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_jobnotxt input,Text{
    width:100%;
}


.div_txtratepercm{
    width:15%;
    float:right;
    margin-right:2%;
    margin-top:0.5%;
}

.div_txtratepercm input,Text{
    width:100%;
}

.div_btn{
     float:right;
    margin-right:1.5%;
    margin-top:0.5%;
    margin-bottom:1%;
}

.div_totaltxt{
    width:10%;
      float:right;
    margin-right:2%;
    margin-top:0.5%;
}

.div_totaltxt input,Total{
     width:100%;
}

.div_grd{
     width:97%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
     height: 250px;
    border: 1px solid gray;
}