.DivTotal
{
 
  width :1000px;
  height:100%;
  background-color:#F8F8F8;
   -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
   -moz-box-shadow   : 8px 8px 8px rgba(0,0,0,.15);
   box-shadow        : 8px 8px 8px rgba(0,0,0,.15);

}
.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    /*font-weight:bold;*/  
     text-align:left;
    color:navy;
    margin-left:1%;
   /*margin-top:10px;*/
}
.DivMainLable
{
background-color:#333399;
width:100%;
height:20px;
border-bottom :1px solid black;
}

.DivHeaderlbl
{
    font-size:9pt; 
    /*height:10px;*/   
    font-family :Arial;
    font-weight:bold;   
    color:White;
    margin-left:0.5%;
    margin-top:1%;
   
}

.DivBreak
{
    clear:both;
}
 .div_lbl

{
    width:3.3%;
    float:left ;
    /*margin-bottom:0.5%;*/
    margin-left:0.4%;
    margin-top :1.2%;
    text-align:right;
    /*border:1px solid red;*/
}

.div_lbl_to

{
    width:3%;
    float:left ;
    /*margin-bottom:0.5%;*/
    /*margin-left:6%;*/
    margin-top :1.2%;
    text-align:right;
    /*border:1px solid red;*/
}
.div_txt_dateFrom
{
    width:9%;
    float:left;
     margin-left:1%;
    margin-top:0.8%;
      /*margin-bottom:0.5%;*/  
}

.div_txt_date
{
    width:9%;
    float:left;
     margin-left:1%;
    margin-top:0.8%;
    margin-right:0.2%;
      /*margin-bottom:0.5%;*/  
}

.DivCityFilter
{
    /*width:26.5%;
    width:13.5%;*/
     width:20%;
    float:left;
     margin-left:1%;
    margin-top:0.8%;
      /*margin-bottom:0.5%;*/  
}

.DivRegionFilter
{
    width:30%;
    float:left;
     margin-left:1%;
    margin-top:0.8%;
}

.DivBranchFilter
{
     width:18.6%;
    float:left;
     margin-left:1%;
    margin-top:0.8%;
      /*margin-bottom:0.5%;*/  
}

.DivEmployyFilter
{
    /*width:26.5%;
    width:13.5%;*/
    width:25%;
    float:left;
     margin-left:1%;
    margin-top:0.8%;
      /*margin-bottom:0.5%;*/  
}

.Hide
{
    display:none;
}

.DivButtonExport
{
   float:right;
    margin-right:1.1%;
    margin-bottom:-1.5%;
    margin-top:1%;
 }

.DivGet
{
    /*width:6%;*/
    float:right;
    margin-right:0.5%;
    margin-top:0.8%; 
}

.DivCancel
{
    /*width:5%;*/
    float:right;
    margin-right:0.5%;
    margin-top:0.8%; 
}

 .GridHeaderfi
{
    background-color:Navy;
    color:White;
    font-family:sans-serif;
     font-size:8.5pt;
    margin-left: 4px;
    margin-bottom: 0px;
     padding:2px; 
}

.GrdAltRowfi
{
    background-color:#FFF8DC;
   font-family:sans-serif;
    font-size:8.5pt;
     color:Black;
    margin-left: 4px;
    margin-bottom: 0px;
    
}
.GrdRowfi
{
    font-family:sans-serif;
     font-size:8.5pt;
    color:Black;
    /*background-color:#e0f2dd;*/
}

.GridPalICD
{
   
     width:98.3%;
     height:380px;
    border:1px solid gray;
    float:left;
    margin-bottom:1%;
    margin-left:1%;
    /*margin-top:0.5%;*/
    margin-right:0.5%;
}