.div_Main
{
    background-color: #0061AE;
    color: White;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;
    width: 76%;
}
.div_total 
{
    width: 900px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}
.div_Break
{
    clear: both;
}
.div_slip
{
    width: 4%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_sliptxt
{
    width: 10%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_sliptxt input, Text
{
    width: 100%;
}
.div_banktxt
{
    width: 50%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_banktxt input, Text
{
    width: 100%;
}
.div_date
{
    width: 8%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_datetxt
{
    width: 11%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_datetxt input,Text
{
    width: 100%;
}
.div_dateddl
{
    width: 7%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_dateddl input, Select
{
    width: 100%;
}
.div_paymentreceipt
{
    width: 14.5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_paymentreceipt input, Text
{
    width: 100%;
}
.div_receipt
{
    width: 13.5%;
    float: left;
    margin-left: 0.5%;
    margin-top: 0.6%;
}
.div_receipt input, Select, Text
{
    width: 100%;
}
.div_receipt1
{
    width: 8%;
    float: left;
    margin-left: 0.5%;
    margin-top: 0.6%;
}
.div_receipt1 input, Select, Text
{
    width: 100%;
}
.div_bank
{
    width: 42%;
    float: left;
    margin-left: 0.5%;
    margin-top: 0.5%;
}
.div_bank input, Select
{
    width: 100%;
}
.div_Getbtn
{    
    float: right;
    margin-right: 0.75%;
    margin-top: 0.7%;
}
.div_Grid
{
    width: 100%;
    height:350px;
    float: left;
    margin-top: .5%;
    margin-left: 0%;
    overflow-y:auto;
}
.div_remark
{
    width: 6%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_remarktxt
{
    width: 88.65%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_remarktxt input, Text
{
    width: 100%;
}
.div_total1
{
    width: 6%;
    float: left;
    margin-left: 1%;
    margin-top: 0.7%;
}
.div_totaltxt
{
    width: 8.3%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
    text-align: right;
}
.div_totaltxt input, Text
{
    width: 100%;
}
.div_btn
{    
    float: right;
    margin-right: 0.75%;
    margin-top: 0.5%;
    text-align:right;
    margin-bottom:0.5%;
}
.div_GrdColumn
{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
