.div_total 
{
   width: 400px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}


.lbl_Header1
{
    font-size:13pt;    
    font-family :sans-serif;
    text-align:left;
    color:navy;
    margin-left:1%;
  }
.div_Break
{
    clear: both;
}

.div_txtExemption{
    
    width:47.5%;
    float:left;
    margin-left:1%;
    margin-top:1%;
}

.div_txtExemption input,Text{
    width:100%;
}

.div_txtYear{
     width:47.5%;
    float:left;
    margin-left:1%;
    margin-top:1%;
}

.div_txtYear input,Text{
    width:100%;
}

.div_txtAmount{
     width:47.5%;
    float:left;
    margin-left:1%;
    margin-top:1%;
}

.div_txtAmount input,Text{
    width:100%;
    text-align:right;
}

.div_ddlType{
     width:48%;
    float:left;
    margin-left:1%;
    margin-top:1%;
}

.div_ddlType input,select{
    width:100%;

}

.div_btn{
    float:right;
    margin-right:2.5%;
    margin-bottom:2%;
    margin-top:1%;

}
.Pnl1
{
    height: 70px;
    float: left;    
    width: 200px;
   margin-left:-3%;
    margin-top:-14%;
    border:1px solid #999997;
    background-color:white;
}
.div_confirm{
    float:left;
    margin-left:30%;
    margin-bottom:1%;
    margin-top:1%;
}