.div_body{
    width:500px;
    background-color:#F8F8F8;
   -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
   -moz-box-shadow   : 8px 8px 8px rgba(0,0,0,.15);
   box-shadow        : 8px 8px 8px rgba(0,0,0,.15);
}
.lbl_head{
     font-size:9pt;    
    font-family :Arial;
    font-weight:bold;   
    color:White;
    margin-left:1%;
    margin-top:1%;
    margin-bottom:1%;
}

.txt_input
{
    width:100%;
    text-transform:uppercase;
}

.lbl_job
{
    width:13%;
    float:left;
    text-align:left;
    margin-left:2%;
    margin-top:1.5%;
}

.txt_job
{
    width:45%;
    float:left;
    margin-left:1%;
    margin-top:1%;
}
.txt_job input
{
    width:100%;
}
.txt_inv
{
    width:52%;
    float:left;
    margin-left:1%;
    margin-top:1%;
    
}
.txt_inv input
{
    width:100%;
}
.txt_bl
{
    width:97.5%;
    float:left;
     margin-left:1%;
     margin-top:0.5%;
}
.txt_bl input
{
    width:100%;
}
.txt_curr
{
    float:left;
    margin-left:1%;
    margin-top:0.5%;
    width:28%;
}
.txt_curr input
{
    width:100%;
}
.lbl_new
{
    width:24%;
    float:left;
    margin-left:2%;
    margin-top:1.5%;
}
.txt_new
{
    float:left;
    margin-left:1%;
   margin-top:0.5%;
    width:27%;
}
.txt_new input
{
    width:100%;
}

.btn_back
{
    float:right;
    width:15%;
    text-align:center;
    margin-right:1%;
    margin-bottom:1%;
    margin-top:1%;
    
}
.btn_back input
{
    width:100%;

}

