.div_total
{    
     width :700px;
     background-color:#F8F8F8;
   -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
   -moz-box-shadow   : 8px 8px 8px rgba(0,0,0,.15);
   box-shadow        : 8px 8px 8px rgba(0,0,0,.15);
}
.div_lbl_header
{
    background-color: #0061AE;
    color: White;
    width: 65%;    
    margin-top: 1%;
    font-weight: bold;
}
.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    /*font-weight:bold;*/  
     text-align:left;
    color:navy;
    margin-left:0.6%;
   /*margin-top:10px;*/
}
.div_Break
{
    clear: both;
}
.div_lbl_book
{
	 /*width: 15%;*/
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;
    font-family:sans-serif;
    font-size:10pt;
}
.div_txt_book
{
    width: 36.4%;
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;    
}
.div_txt_book input
{
	width:100%;
}

.div_lbl_bdate
{
	width:5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_bdate
{
    width:18%; 
 
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;   
}
.div_txt_bdate input
{
	width:100%;
}

.div_lbl_quot
{
	width:5.5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_quot
{
    width:12%;   
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;    
}
.div_txt_quot input
{
	width:100%;
}

.div_lbl_qdate
{
	width:5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_qdate
{
    width:19%;  
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;    
}
.div_txt_qdate input
{
	width:100%;
}

.div_lbl_bl
{
	width:5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_bl
{
    width:46%; 
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;  
}
.div_txt_bl input
{
	width:100%;
}

.div_lbl_vessel
{
	width:5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_vessel
{
    width:31%; 
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;   
}
.div_txt_vessel input
{
	width:100%;
}

.div_lbl_voyage
{
	width:3%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
}
.div_txt_voyage
{
    width:19%; 
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;    
}
.div_txt_voyage input
{
	width:100%;
}

.div_lbl_con
{
	width:5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_con
{
    width:22.5%; 
    float: left;
    margin-left: 1%;
    margin-top: 0.5%
}
.div_txt_con input
{
	width:100%;
}

.div_lbl_etd
{
	width:3%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_etd
{
    width:22.5%; 
    float: left;
    margin-left: 1%;
    margin-top: 0.5%   
}
.div_txt_etd input
{
	width:100%;
}

.div_lbl_pol
{
	width:5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_pol
{
    width:15%; 
    float: left;
    margin-left: 1%;
    margin-top: 0.5%   
}
.div_txt_pol input
{
	width:100%;
}

.div_lbl_pod
{
	width:4%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_pod
{
    width:15%; 
    float: left;
    margin-left: 1%;
    margin-top: 0.5%   
}
.div_txt_pod input
{
	width:100%;
}

.div_lbl_fd
{
	width:3%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_fd
{
    width:19%; 
    float: left;
    margin-left: 1%;
    margin-top: 0.5%   
}
.div_txt_fd input
{
	width:100%;
}

.div_lbl_cbm
{
	width:6%; 
    float: left;     
    margin-top:0.5%;
    text-align:right;
}
.div_txt_cbm
{
    width:22.5%; 
    float: left;  
    margin-left:1%; 
    margin-top:0.5%;    
}
.div_txt_cbm input
{
	width:100%;
}

.div_lbl_netwt
{
	width:4%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_netwt
{
    width:22.5%; 
    float: left;  
    margin-left:1%; 
    margin-top:0.5%;    
}
.div_txt_netwt input
{
	width:100%;
}

.div_lbl_grosswt
{
	width:5.5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_txt_grosswt
{
    width:25.5%; 
    float: left;  
    margin-left:1%; 
    margin-top:0.5%;    
}
.div_txt_grosswt input
{
	width:100%;
}

.div_lbl_blstatus
{
	width:5%; 
    float: left;     
    margin-left:1%;  
    margin-top:0.5%;
    text-align:right;
}
.div_ddl_blstatus
{
    width:24.7%; 
    float: left;  
    margin-left:1%; 
    margin-top:0.2%;    
}
.div_ddl_blstatus input,Select
{
	width:100%;
}
.div_lbl_remarks
{
	width:6%; 
    float: left;     
    margin-top:0.5%;
    text-align:right;
}
.div_txt_remarks
{
    width:98%; 
    float: left;  
    margin-left:1%; 
    margin-top:0.5%;    
}
.div_txt_remarks input
{
	width:100%;
}

.div_btn
{
    /*width: 95%;*/
    float:right;
    margin-right: 0.8%;    
    text-align: right;
    margin-bottom:1%;
    /*padding-left:10%;*/
}

.div_btn_rbook
{
    width: 8%;
    float: left;
    margin-left: 44.5%;
    margin-top: 0.5%;
    text-align: right;
}
.div_btn_rbook input, Button
{
    width: 100%;
}
.div_btn_save
{
    width: 5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
    text-align: right;
}
.div_btn_save input, Button
{
    width: 100%;
}
.div_btn_cancel
{
    width: 5%;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
    text-align: right;
}
.div_btn_cancel input, Button
{
    width: 100%;
}

.div_booking
{
	float: left;
	width: 83%;
	height: 70%;
	background-color:White;
}

.div_grd_booking
{
	width: 100%; 
	height:70%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left:1%;
	text-align:center;
	float:left;
}
.div_close
{
    /*width: 100%;
    float: left;
    text-align: right;
    cursor: pointer;*/
    width:20px; 
    Height:20px; 
    border:2px solid white;
    margin-left:98%;
    margin-top:-7%;
    /*margin-top:-7.5%;*/
    border-radius: 90px 90px 90px 90px;
}
.div_Grd
{
    float: left;
    width: 100%;
    height: 95%;
    overflow: auto;
    margin-top: 1%;
    font-family:sans-serif;
    font-size:10pt;
    /*overflow-y:scroll;*/
}
.div_frame
{
    /*width: 100%;
    height: 90%;*/
    width: 200px;
    Height:305px;   
    float: left;
    text-align: center;
    /*overflow-y:scroll;*/
}

