.div_total
{ 
    width :350px;
    background-color:#F8F8F8;
   -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
   -moz-box-shadow   : 8px 8px 8px rgba(0,0,0,.15);
   box-shadow        : 8px 8px 8px rgba(0,0,0,.15);
}
.div_lbl_hdr
{
    background-color: #0061AE;
    color: White;
    width: 50%;    
    margin-top: 1%;
    font-weight: bold;
}
.div_Break
{
    clear: both;
}
.div_lbl_jobno
{
    width:10%; 
    float: left;  
    margin-left:1%;
    margin-top:1.5%;
 
}
.div_txt_jobno
{
	width:97%; 
    float: left; 
     margin-left:1%;
    margin-top:1.5%;
}
.div_txt_jobno input
{
	width:100%;
}
.div_lbl_cfs
{
    width:10%; 
    float: left;  
     margin-left:1%;
    margin-top:1.5%; 
 
}
.div_txt_cfs
{
	width:97%; 
    float: left; 
    margin-left:1%;
    margin-top:0.5%;
}
.div_txt_cfs input
{
	width:100%;
}
.div_lbl_format
{
    width:10%; 
    float: left;  
    margin-top:0.5%;  
}
.div_ddl_format
{
	width:97.5%; 
    float: left; 
    margin-left:1%;
    margin-top:0.5%;
}
.div_ddl_format select
{
	width:100%;
}
.div_btn
{
    /*width: 95%;*/
    float:right;
    margin-right: 1.5%;    
    text-align: right;
    margin-bottom:1%;
    /*padding-left:10%;*/
}
.div_btn_print
{
	 width:6.5%;
	 float:left;
	 margin-left:36%;
	 text-align:right;
	 margin-top:0.5%;
}
.div_btn_print button
{
	width:100%;
}
.div_btn_back
{
	 width:6%;
	 float:left;
	 margin-left:1%;
	 text-align:right;
	 margin-top:0.5%;
}
.div_btn_back button
{
	width:100%;
}