.div_total
{
  
     width :700px;
       background-color:#F8F8F8;
   -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
   -moz-box-shadow   : 8px 8px 8px rgba(0,0,0,.15);
   box-shadow        : 8px 8px 8px rgba(0,0,0,.15);

}
.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    /*font-weight:bold;*/  
     text-align:left;
    color:navy;
    margin-left:1%;
   /*margin-top:10px;*/
}
.div_lbl_hdr
{
    background-color: #0061AE;
    color: White;
    width: 80%;    
    margin-top: 1%;
    font-weight: bold;
}
.div_Break
{
    clear: both;
}
.div_lbtn_job
{
    /*width:10%;*/ 
    float: left;
    margin-left:1%;  
    margin-top:2%;     
}
.div_txt_job
{
    width:15%; 
    float: left;  
    margin-left:1%;  
    margin-top:1.5%;     
}
.div_txt_job input
{
	width:100%;
}
.div_lbl_eta
{
    width:4%; 
    float: left;  
    margin-left:1%;  
    margin-top:1.5%;      
}
.div_txt_eta
{
    width:15%; 
    float: right;  
    margin-right:1.5%;  
    margin-top:1.5%;     
}
.div_txt_eta input
{
	width:100%;
}
.div_lbl_vsl
{
    width:10%; 
    float: left;  
    margin-top:0.5%;   
   
}
.div_txt_vsl
{
    width:50%; 
    float: left;  
    margin-top:0.5%; 
    margin-left:1%;
}
.div_txt_vsl input
{
	width:100%;
}
.div_lbl_mbl
{
    width:4%; 
    float: left;  
    margin-top:0.5%;   
    margin-left:1%;  
}
.div_txt_mbl
{
    width:46.5%; 
    float: left;  
    margin-top:0.5%; 
    margin-left:1%;
}
.div_txt_mbl input
{
	width:100%;
}
.div_lbl_agent
{
    width:10%; 
    float: left;  
    margin-top:0.5%;   
   
}
.div_txt_agent
{
    width:97.5%; 
    float: left;  
    margin-top:0.5%; 
    margin-left:1%;
}
.div_txt_agent input
{
	width:100%;
}
.div_lbl_mlo
{
    width:10%; 
    float: left;  
    margin-top:0.5%;   
   
}
.div_txt_mlo
{
    width:97.5%; 
    float: left;  
    margin-top:0.5%; 
    margin-left:1%;
}
.div_txt_mlo input
{
	width:100%;
}
.div_lbl_pol
{
    width:10%; 
    float: left;  
    margin-top:0.5%;   
   
}
.div_txt_pol
{
    width:50%; 
    float: left;  
    margin-top:0.5%; 
    margin-left:1%;
}
.div_txt_pol input
{
	width:100%;
}
.div_lbl_pod
{
    width:4%; 
    float: left;  
    margin-top:0.5%;   
    margin-left:1%;  
}
.div_txt_pod
{
    width:46.5%; 
    float: left;  
    margin-top:0.5%; 
    margin-left:1%;
}
.div_txt_pod input
{
	width:100%;
}
.div_lbl_report
{
    width:18%; 
    float: left;  
    margin-top:0.5%;   
   
}
.div_ddl_report
{
    width:97.8%; 
    float: left;  
    margin-top:0.5%; 
    margin-left:1%;
}
.div_ddl_report select
{
	width:100%;
}
.div_btn
{
    /*float:left;*/
   /*margin-left: 1%;*/
    
}
.div_btn_annex1
{
    width:12%; 
    float: left; 
   margin-top:0.5%;
   margin-left:8%;
   
}
.div_btn_annex1 button
{
	width:100%;
}
.div_btn_annex2
{
    width:9%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_annex2 button
{
	width:100%;
}
.div_btn_annexB
{
    width:9%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_annexB button
{
	width:100%;
}

.div_btn_form2
{
    width:9%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_form2 button
{
	width:100%;
}
.div_btn_form3
{
    width:8%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_form3 button
{
	width:100%;
}
.div_btn_cntnrldplan
{
    width:18%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_cntnrldplan button
{
	width:100%;
}
.div_btn_finaligm
{
    width:9%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_finaligm button
{
	width:100%;
}
.div_btn_consolletter
{
    width:12%; 
    float: left; 
   margin-top:0.5%;
    margin-left:8%;
   
}
.div_btn_consolletter button
{
	width:100%;
}
.div_btn_icdcfs
{
    width:9%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_icdcfs button
{
	width:100%;
}
.div_btn_icdtsa
{
    width:9%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_icdtsa button
{
	width:100%;
}
.div_btn_icdmovement
{
    width:18%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_icdmovement button
{
	width:100%;
}
.div_btn_icdcargo
{
    width:18%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_icdcargo button
{
	width:100%;
}
.div_btn_cancel
{
    width:9%; 
    float: left;   
   margin-left:1%;
   margin-top:0.5%;
}
.div_btn_cancel button
{
	width:100%;
}
.div_popup_job
{
	float: left;
	width: 83%;
	height: 70%;
	background-color:White;
}
.div_grd_job
{
	width:100%; 
	height:70%;
	margin-top: 1%;
	margin-bottom: 1%;	
	text-align:center;
	float:left;
}
.div_closevoucher_job
{
	cursor: pointer;
	float: right;
}
.modalBackground_job
{
	background-color: Gray; /*filter:alpha(opacity=70); 	opacity:0.7;*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 5-7 */
	filter: alpha(opacity=70); /* Netscape */
	-moz-opacity: 0.7; /* Safari 1.x */
	-khtml-opacity: 0.7; /* Good browsers */ /* opacity: 0.7%;*/
}


.div_popup_AIE
{
	float: left;
	width: 83%;
	height: 70%;
	background-color:White;
}
.div_grd_AIE
{
	width:100%; 
	height:70%;
	margin-top: 1%;
	margin-bottom: 1%;	
	text-align:center;
	float:left;
}
.div_closevoucher_AIE
{
	cursor: pointer;
	float: right;
}
.modalBackground_AIE
{
	background-color: Gray; /*filter:alpha(opacity=70); 	opacity:0.7;*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 5-7 */
	filter: alpha(opacity=70); /* Netscape */
	-moz-opacity: 0.7; /* Safari 1.x */
	-khtml-opacity: 0.7; /* Good browsers */ /* opacity: 0.7%;*/
}
.div_close
{
    /*width: 100%;
    float: left;
    text-align: right;
    cursor: pointer;*/
     width:20px; 
            Height:20px; 
            border:2px solid white;
            margin-left:98%;
            margin-top:-7%;
            /*margin-top:-7.5%;*/
            border-radius: 90px 90px 90px 90px;
       

}
.div_Grd
{
    float: left;
    width: 100%;
    height: 95%;
    overflow: auto;
    margin-top: 1%;
     font-family:sans-serif;
     font-size:10pt;
    /*overflow-y:scroll;*/
}

.div_frame
{
    /*width: 100%;
    height: 90%;*/
    width: 200px;
     Height:305px;
   
    float: left;
    text-align: center;
    /*overflow-y:scroll;*/
}