
.div_body 
{
    width: 1000px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}
.div_break
{
    clear: both;
}
.div_grid
{ 
    width:100%;
    float:left;
    /*margin-top:2.5%;*/
    /*margin-left:1%;*/
    /*margin-bottom:0.5%;*/      
}
.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    /*font-weight:bold;*/  
     text-align:left;
    color:navy;
    margin-left:0.5%;
   /*margin-top:10px;*/
}
.div_Button 
{
    float: right;
    margin-right: 1%;
    /*margin-top: 0.1%;*/
    margin-bottom: 0.5%;
}
.panel_grid 
{
    cursor: hand;
    margin-top: -1;
    height: 100px;
    width: 98%;
    margin-left: 1%;
    /*border: 1px solid black;*/
    margin-top: 1%;
}