.div_total 
{
    width: 400px;
    /*background-color: #F8F8F8;*/
    /*-webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);*/
}

.lbl_Header1
{
    font-size:11pt;    
    font-family :sans-serif;
    text-align:left;
    color:navy;
    margin-left:1%;
  }
.div_Break
{
    clear: both;
}

.div_inchestxt{

    width:48%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_inchestxt input,Text{

    width:100%;
}

.div_MilliMetertxt{
    width:48%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_MilliMetertxt input,Text{
     width:100%;
}

.div_Yardstxt{
    width:48%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_Yardstxt input,Text{
     width:100%;
}

.div_CentiMetertxt{
    width:48%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_CentiMetertxt input,Text{
     width:100%;
}

.div_Feettxt{
    width:48%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_Feettxt input,Text{
     width:100%;
}

.div_Metertxt{
    width:48%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_Metertxt input,Text{
    width:100%;
}