  
    .div_form
    {
  
    width:99%;
    height:640px;
   margin-top:-7%;
     /*background-color:blue;
      border:1px solid black;*/
    }
    .div_body
{
    width:48%;
    height:350px;
    margin-left:5%;

   /* margin-top:23%;*/
   margin-top:12%;
    float:left;
   
      
}
  .div_login
{
    width:40%;
    height:350px;
    margin-left:1%;
/* margin-top:14.5%;*/
margin-top:16%;
   /* margin-top:23%;*/
    float:right;
    margin-right:5%;
    border:1px 
      
}
.div_image
{
    width:39%;
    height:310px;
    float:left ;
    
    
}
.div_map1
{
    width:30%;
    height:155px;
    float:left;
    margin-left:1%;
    margin-top:1%;
   
}
.div_map5
{
    width:30%;
    height:155px;
   float:left;
    margin-top:1%;
   
}
.div_map6
{
    width:30%;
    height:155px;
    text-align:center;
    margin-left:98.5%;
    margin-top:1%;
    
}
.div_map2
{
 width:30%;
    height:155px;
    float:left;
   margin-left:1%;
     margin-top:0%;
}
.div_map3
{
    width:30%;
    height:155px;
     float:left;
     margin-top:0%;   
    
}
.div_map4
{
    width:30%;
    height:155px;
        margin-left:98.5%;
   margin-top:0%;
    
    
}
.logo
{
    text-align:center;
    width:70%;
   height:100px;
   margin-left:15.5%;
   margin-top:1%;
}
.textboxes
{
   
    width: 54%;
    height: 10%;
    /* text-align:center;*/
   margin-left:24%;
    font-family:sans-serif;
    font-size:9pt;
    
}
.textboxes select
{
    width:97.9%; 
}
.div_break
{
    clear:both;
    
}
.div_text
{
     width: 26%;
    margin-left:24%;
   float:left;
    font-family:sans-serif;
   font-size:9pt;  
    height:15px;
     -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15); 
}
.div_text input
{
    width:99%;
    height:100%;
   -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15); 

    -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius   :2px 2px 2px 2px;
  border-radius        : 2px 2px 2px 2px;

}

.textbx
{   
    width: 26.5%;
    margin-left:51%;
   /*margin-top :%;*/ 
border:1px solid #b9b9b9;

 -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);

 -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius   : 3px 3px 3px 3px;
  border-radius        :3px 3px 3px 3px;
}

.textbx input
{
    width:100%;
}
.link
{
 
    width:50%;
  text-decoration:none;
    float:left;
    margin-left:24%;
     margin-top:1.5%
}

.button
{
    float:right;
    margin-right:22.2%; 
    margin-top:-3%;
    text-align:right;
 /*border-radius: 70px 70px 70px 70px;*/
    
}
