.div_total 
{
    width: 500px;
    /*height:100%;*/
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}
.div_lbl_header
{
	background-color: #0061AE;
    color: White;
    width:  52%;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;
}
.div_Break
{
	clear:both;
}
.div_lbl_CustomerName
{	
	float: left;
	margin-top: 1.5%;
	margin-left: 1%;
}

.div_txt_CustomerName
{
	width: 97.5%;
	float: left;
	margin-left: 1%;
	margin-top: 1%;	
}
.div_txt_CustomerName input,Text
{
	width: 100%;
}
.div_lbl_EmailID
{	
	float: left;
	margin-top: 1.5%;
	margin-left: 1%;
}

.div_txt_EmailID
{
	width: 97.5%;
	float: left;
	margin-left: 1%;
	margin-top: 1%;	
	text-transform:uppercase; 
}
.div_txt_EmailID input,Text
{
	width:100%;
}
.buy_btn 
{
    float: right;
    text-align: right;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 1%;
}
.div_lbl_Search
{   
    width:10%;
    margin-top:1%;
}
.div_txt_Search
{
	width: 97.5%;	
	float: left;
	margin-left: 1%;
	margin-top: 1.5%;
	margin-bottom: 1%;
}
.div_txt_Search input,Text
{
	width:100%;
}
.div_grd_MailID 
{
    margin-top: 0.5%;
    width: 97.6%;
    height:100px;
    margin-left: 1%;    
    border: 1px solid;    
}
