.div_total
{
    
    width:850px;
      background-color:#F8F8F8;
   -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
   -moz-box-shadow   : 8px 8px 8px rgba(0,0,0,.15);
   box-shadow        : 8px 8px 8px rgba(0,0,0,.15);

}
.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    /*font-weight:bold;*/  
     text-align:left;
    color:navy;
    margin-left:1%;
   /*margin-top:10px;*/
}
.div_lblheader
{
    background-color: #0061AE; /*border:1px solid black;*/
    width: 88%; /*margin-left: 1%;*/
    margin-top: 1%;
    font-weight: bold;
    color: White;
}
.div_lbl_impor
{
    /*width: 16%;*/
   
    float: left; 
    margin-left: 1%;
    margin-top: 2%;
    text-align: left;
}
.div_dtvali
{
    width: 15%;
    height: 17px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
.div_dtvali INPUT
{
    width: 100%;
}
.div_lbl_to
{
    /*width: 3%;*/
 
    float: left;
    margin-left: 1%;
    margin-top: 2%;
    text-align: left;
}
.div_dtvali
{
    width: 8%;
  
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;
}
.div_dtvali INPUT
{
    width: 100%;
}

.div_dt_to
{
    width: 8%;
    
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;
}
.div_dt_to INPUT
{
    width: 100%;
}

.buy_btn
{
    /*width: 35%;*/
    float: left;
    margin-top: 1.5%; /*margin-left:1%;*/ /*margin-right:17%;*/
    text-align: center;
    margin-left:1%;
}
/*.buy_btn input, button
{
    width: 32%;
}*/

.div_grd
{
   width:99%;
	margin-top:1.5%;
}

.div_break
{
    clear: both;
}

.pnlgrd
{
    width:100%;
   height:390px;
    float:left;
   /*border:1px solid black;*/
    margin-left:1%;
    margin-bottom: 0px;
}
