.div_lblheader
{
    background-color: #0061AE; /*border:1px solid black;*/
    width: 91%; /*margin-left: 1%;*/
    margin-top: 1%;
    font-weight: bold;
    color: White;
}

.divlbl_car
{
    width: 8%;
    height: 10%;
    float: left; /*margin-left: 1%;*/
    margin-top: 1%;
    text-align: left;
}


.div_lbl
{
    width: 8%;
    height: 10%;
    float: left; 
    margin-left: 12%;
    margin-top: 1%;
    text-align: left;
    color:Red
}

.div_txt_Jobno
{
    width: 15%;
    height: 17px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
.div_txt_Jobno INPUT
{
    width: 100%;
}

.div_lbl_Vou
{
    width: 6%;
    height: 10%;
    float: left; 
    margin-left: 14%;
    margin-top: 1%;
    text-align: left;
    
}
.div_txt_dcn
{
    width: 12%;
    height: 17px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
.div_txt_dcn INPUT
{
    width: 100%;
}
.div_txt_year
{
    width: 12%;
    height: 17px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
.div_txt_year INPUT
{
    width: 100%;
}
.div_lbl_agent
{
    width: 48%;
    height: 10%;
    float: left; /*margin-left: 1%;*/
    margin-top: 1%;
    text-align: left;
}
.div_lbl_ship
{
    width: 15%;
    height: 10%;
    float: left; /*margin-left: 1%;*/
    margin-top: 1%;
    text-align: left;
}

.div_txt_customer
{
    width: 44%;
    height: 43px;
    float: left;
    margin-top: 1%;
    /*margin-left: 8%;*/
}
.div_txt_customer INPUT
{
    width: 100%;
}
.div_txt_shipment
{
    width: 44%;
    height: 43px;
    float: left;
    margin-left: 2%;
    margin-top: 1%;
}
.div_txt_shipment input
{
    width: 100%;
}
.div_lbl_debit
{
    width: 15%;
    height: 10%;
    float: left; /*margin-left: 1%;*/
    margin-top: 1%;
    text-align: left;
}
.div_grd_debit
{
    width: 98%; 
	height:90%;
	margin-top: 1%;
	margin-bottom: 1%;
	/*margin-left:1%;*/
	text-align:center;
	float:left; 
}
.div_grd_debit input
{
    width: 100%;
}

.div_grd_credit
{
    width: 98%; 
	height:90%;
	margin-top: 1%;
	margin-bottom: 1%;
	/*margin-left:1%;*/
	text-align:center;
	float:left; 
}
.div_grd_credit input
{
    width: 100%;
}
.div_lbl_debit
{
    width: 15%;
    height: 10%;
    float: left; /*margin-left: 1%;*/
    margin-top: 1%;
    text-align: left;
}
.div_lbl_tot
{
    width: 6%;
    height: 10%;
    float: left; 
    margin-left:71%;
    margin-top: 1%;
    text-align: left;
    
}
.div_txt_total
{
    width: 12%;
    height: 17px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}
.div_txt_total INPUT
{
    width: 100%;
}
.div_osdn_btn
{
    width: 90.5%;
    float: left;
     margin-top: 1%; /*margin-left:1%;*/ /*margin-right:17%;*/
    text-align: right;
}
.div_osdn_btn input, button
{
    width: 10%;
    margin-left: 0.5%;
    }
.osdcn_break
{
    clear:both;
}































