.div_total
{
    width:1000px;
    background-color:#F8F8F8;
   -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
   -moz-box-shadow   : 8px 8px 8px rgba(0,0,0,.15);
   box-shadow        : 8px 8px 8px rgba(0,0,0,.15);

}
.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    /*font-weight:bold;*/  
     text-align:left;
    color:navy;
    margin-left:1%;
   /*margin-top:10px;*/
}
.div_grid
{
    width:100%;
     height:380px;
 
    float:left;
    margin-bottom:0%;
    margin-left:0%;
    margin-top:1%;
    margin-right:0%;
    overflow:auto;
}

.div_buttonExport
{
   float:right;
margin-right:2%;

margin-top:0.1%;

 width:30%;
 margin-left:15%;
 border :1px solid blue;
 
}
.div_grid_sales
{
    width:98%;
     height:380px;
  
    float:left;
    margin-bottom:0.5%;
    margin-left:0.5%;
    margin-top:0.5%;
    margin-right:0.5%;
}

.div_lbl

{
    /*width:5%;*/
    float:left ;
    margin-bottom:0.5%;
    margin-left:1%;
    margin-top :1.5%;
    text-align:left ;
 
}

.div_lbl_to

{    
    /*width:4%;*/
    float:left ;
    margin-bottom:0.5%;
    text-align:left;
    margin-left:2%;
    margin-top :1.5%;

}

.div_txt_date
{    
    width:10%;
    float:left;
    margin-left:0.5%;
    margin-top:0.7%;
    margin-bottom:0.5%;
  }
.div_txt_date input
{
    width :100%;
}

.div_button
{    
    float:right;
    margin-left:1%;
    margin-top:1%;
   margin-right:0.5%;
}

.div_txt_datedsr
{    
    width:7%;
    float:left;
    margin-left:0.5%;
    margin-top:1%;
    margin-bottom:0.5%;     
  }
.div_txt_datedsr input
{
    width:100%;
}