.div_total 
{
    width: 600px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}

.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    text-align:left;
    color:navy;
    margin-left:1%;
  }
.div_Break
{
    clear: both;
}

.div_txtSalesPerson{

    width:48%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_txtSalesPerson input,Text{

    width:100%;
}

.div_ddlCompany{
    width:48%;
    float:left;
    margin-left:1%;
    margin-top:0.5%;
}

.div_ddlCompany input,Select{
    width:100%;
}

.div_btn{

    float:right;
    margin-right:2%;
    margin-top:1%;
}

.div_grdSalesOut{
    width:100%;
    float:left;
    margin-left:0%;
    margin-top:0%;
    height:400px;
    margin-bottom:0.5%;
}
