.div_total 
{
    width: 1020px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}
.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    /*font-weight:bold;*/  
     text-align:left;
    color:navy;
    margin-left:0.5%;
   /*margin-top:10px;*/
}
.div_lblheader
{
    background-color: #0061AE; /*border:1px solid black;*/
    width: 91%; /*margin-left: 1%;*/
    margin-top: 1%;
    font-weight: bold;
    color: White;
}
.div_lbl_job
{
    width: 6.5%;
    height: 12px;
    float: left; /*margin-left: 1%;*/
    margin-top: 1%;
    text-align: left;
}

.div_lbl_vessel
{
    width: 21%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}

.div_lbl_Voyage
{
    width: 17%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}

.div_lbl_mbl
{
    width: 13%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}

.div_lbl_container
{
    width: 15%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_ship
{
    width: 9%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_cus
{
    width: 46.5%;
    height: 11px;
    float: left;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_Consignee
{
    width: 47%;
    height: 11px;
    float: left;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_Deliver
{
    width: 46.5%;
    height: 11px;
    float: left;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_book
{
    width: 13%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}

.div_lbl_sale
{
    width: 15%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_pol
{
    width: 9%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}


.div_lbl_BL
{
    width: 12.5%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_forw
{
    width: 12%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_cmb
{
    width: 7%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}

.div_lbl_gross
{
    width: 7.5%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}
.div_lbl_book
{
    width: 13%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}
.div_No_of
{
    width: 9%;
    height: 11px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    text-align: left;
}
.div_txt_jobno
{
    width: 7%;   
    float: left;
    margin-top: 1%;
    margin-left:0.5%;
}
.div_txt_jobno INPUT
{
    width: 100%;
}
.div_txt_cbm
{
    width: 7%;
    height: 16px;
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.div_txt_cbm INPUT
{
    width: 100%;
}
.div_txt_grwt
{
    width: 7.5%;
    height: 16px;
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.div_txt_grwt INPUT
{
    width: 100%;
}
.div_txt_MBLno
{
    width: 13%;   
    float: left;
    margin-top: 1%;
    margin-left: 0.5%;
}
.div_txt_MBLno INPUT
{
    width: 100%;
}


.div_txt_Bookingno
{
    width: 13%;   
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.div_txt_Bookingno INPUT
{
    width: 100%;
}
.div_txt_bl
{
    width: 13%;
    height: 16px;
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.div_txt_bl INPUT
{
    width: 100%;
}
.div_txt_FBL
{
    width: 13%;   
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
    height: 20px;
}
.div_txt_FBL INPUT
{
    width: 100%;
}
.div_txt_Containerno
{
    width: 15%;   
    float: left;
    margin-top: 1%;
    margin-left: 0.5%;
}
.div_txt_Containerno INPUT
{
    width: 100%;
}
.div_txt_Containerno1
{
    width: 15%;   
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.div_txt_Containerno1 INPUT
{
    width: 100%;
}
.div_txt_Sales
{
    width: 15%;    
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.div_txt_Sales INPUT
{
    width: 100%;
}

.div_txt_Port
{
    width: 15.1%;   
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.div_txt_Port INPUT
{
    width: 100%;
}

.div_txt_noofpkg
{
    width: 15.1%;
    height: 16px;
    float: left;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.div_txt_noofpkg INPUT
{
    width: 100%;
}

.div_txt_inv
{
    width: 15.1%;
    height: 16px;
    float: left;
    margin-top: 1%;
    margin-left: 0.5%;
}
.div_txt_inv INPUT
{
    width: 100%;
}
.div_txt_Shipbill
{
    width: 15.1%;  
    float: left;
    margin-top: 1%;
    margin-left: 0.5%;
    height: 20px;
}
.div_txt_Shipbill INPUT
{
    width: 100%;
}

.div_txt_Customer
{
    width: 54%;
    
    float: left;
    margin-top: 0.5%;
    margin-left:0.5%;
}
.div_txt_Customer INPUT
{
    width: 100%;
}
.div_txt_consignee
{
    width: 54%;
   
    float: left;
    margin-top: 0.5%;
    margin-left:0.5%;
}
.div_txt_consignee INPUT
{
    width: 100%;
}
.div_txt_Agent
{
    width: 54%;   
    float: left;
    margin-top: 0.5%;
    margin-left:0.5%;
}
.div_txt_Agent INPUT
{
    width: 100%;
}
.outstnd_break
{
    clear: both;
}
.div_txt_vessel
{
    width: 27%;
    float: left;
    margin-top: 1%;
    margin-left: 0.5%;
}
.div_txt_vessel INPUT
{
    width: 100%;
}

.div_txt_voyage
{
    width: 19%;  
    float: left;
    margin-top: 1%;
    margin-left: 0.5%;
}
.div_txt_voyage INPUT
{
    width: 100%;
}

.query_break
{
    clear: both;
}

.div_find_btn
{
    width: 5%;
    float: right;
    margin-top: 1%;
     /*margin-left:3%;*/ 
    margin-right:0.7%;
    text-align: right;
    /*margin-left: 23%;*/
}
.div_find_btn input, button
{
    width: 100%;
    margin-left: 0.5%;
}
.div_grd
{
    width: 98.7%; 
	height:30%;
	margin-top: 1%;
	margin-bottom: 1%;
    margin-left:0.5%;
	/*text-align:center;*/
	float:left;
}
.div_grd input
{
    width: 100%;
}
.outstand_btn
{
    width: 90.5%;
    float: left;
    margin-top: 1%; /*margin-left:1%;*/ /*margin-right:17%;*/
    text-align: right;
}
.outstand_btn input, button
{
    width: 10%;
    margin-left: 0.5%;
}
.div_image
{
    width: 98%; 
	height:17px;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left:1%;
	text-align:center;
	float:left; 
}
.div_cancel_voucher
{
	cursor: pointer;
	float: right;
	/*text-align:right*/
}
.div_popupview
{
	float: left;
	width: 100%;
	height: 100%;
	background-color:White;
}

.modalBackground
{
    background-color: Gray; /*filter:alpha(opacity=70); 	opacity:0.7;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 5-7 */
    filter: alpha(opacity=70); /* Netscape */
    -moz-opacity: 0.7; /* Safari 1.x */
    -khtml-opacity: 0.7; /* Good browsers */
    opacity: 0.7;
}

.div_image
{
    width: 98%; 
	height:17px;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left:1%;
	text-align:center;
	float:left; 
}
.div_image input
{
    width: 100%;
}














