
.div_total {
    width: 745px;    
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}

.lbl_Header1 {
    font-size: 12pt;
    font-family: sans-serif;
    text-align: left;
    color: navy;
    margin-left: 1%;
    font:bold;
}

.div_txt
{
    float: left;
    width: 25%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_txt input,text
{
    width: 100%;
}
.div_Nametxt
{
    float: left;
    width: 71%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_Nametxt input,text
{
    width: 100%;
}
.div_Main
{
    background-color: #0061AE;
    color: White;
    margin-left: 0.5%;
    margin-top: 1%;
    font-weight: bold;
    width:67%;
}

.div_break
{
    clear: both;
}
.div_label
{
    float: left;
    /*width: 6%;*/
    margin-left: 1%;
    margin-top: 0.5%;
    text-align:left;
}
.div_lbl
{
    float: left;
    width: 4%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_Monthlabel
{
    float: left;
    width: 5%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_Totallabel
{
    float: left;
    width: 7%;
    margin-left: 1%;
    margin-top: 0.5%;
    text-align:right;
}
.div_Companytxt
{
    float: left;
    width:39%;
    margin-left: 0.5%;
    margin-top: 0.5%;
}
.div_Companytxt input, text
{
    width: 100%;
}
.div_txt
{
    float: left;
    width:7%;
    margin-left:0.5%;
    margin-top: 0.5%;
}
.div_txt input, text
{
    width: 100%;
}

.div_txtchellan
{
    float: left;
    width:11.5%;
    margin-left:0.5%;
    margin-top: 0.5%;
}
.div_txtchellan input, text
{
    width: 100%;
}


.div_txttotal
{
    float: left;
    width:15%;
    margin-left:0.5%;
    margin-top: 0.5%;
}
.div_txttotal input, text
{
    width: 100%;
}

.div_txtCheque
{
    float: left;
    width:20%;
    margin-left:0.5%;
    margin-top: 0.5%;
}
.div_txtCheque input, text
{
    width: 100%;
}

.div_txtBSR
{
    float: left;
    width:18%;
    margin-left:0.6%;
    margin-top: 0.5%;
}
.div_txtBSR input, text
{
    width: 100%;
}



.div_txtsc
{
    float: left;
    width:10%;
    margin-left:0.6%;
    margin-top: 0.5%;
}
.div_txtsc input, text
{
    width: 100%;
}

.div_txttds
{
    float: left;
    width:10%;
    margin-left:0.5%;
    margin-top: 0.5%;
}
.div_txttds input, text
{
    width: 100%;
}
.div_Emptxt
{
    float: left;
    width:21%;
    margin-left: 0.5%;
    margin-top: 0.5%;
}
.div_Emptxt input, text
{
    width: 100%;
}

.div_chesstxt
{
    float: left;
    width: 20%;
    margin-left:1%;
    margin-top: 0.5%;
}
.div_chesstxt input, text
{
    width: 100%;
}

.div_Edutxt
{
    float: left;
    width: 10%;
    margin-left:0.6%;
    margin-top: 0.5%;
}
.div_Edutxt input, text
{
    width: 100%;
}
.div_ddlmonth
{
    float: left;
    width: 14%;
    margin-left: 0.5%;
    margin-top: 0.5%;
    
}
.div_ddlmonth input, Select
{
    width: 100%;
}

.div_Gradetxt1
{
    float: left;
    width: 5%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_Gradetxt1 input, text
{
    width: 100%;
}
.div_Gradetxt2
{
    float: left;
    width: 23%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_Gradetxt2 input, text
{
    width: 100%;
}
.div_Gradetxt3
{
    float: left;
    width: 26%;
    margin-left: 0.5%;
    margin-top: 0.5%;
}
.div_Gradetxt3 input, text
{
    width: 100%;
}
.div_Gradetxt4
{
    float: left;
    width: 18%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.div_Gradetxt4 input, text
{
    width: 100%;
}
.div_Locationtxt
{
    float: left;
    width: 20%;
    margin-left:0.5%;
    margin-top: 0.5%;
}
.div_Locationtxt input, text
{
    width: 98%;
}
.div_Grid
{
    float: left;
    width: 100%;
    height:320px;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom:0%;
    overflow:auto;
}
.div_Getbtn
{
    /*width: 15%;*/
    float: left;
    margin-left:1%;
    margin-top: 0.5%;
    text-align:right;
}
/*.div_Getbtn input, submit
{
    width:100%;
}*/
.div_btn
{
    /*width: 98%;*/
    float: right;
    margin-right: 1.5%;
    margin-top: 0.5%;
    text-align: right;
}


/*.div_btn
{
    width: 15%;
    float: left;
    margin-left:85%;
    margin-bottom:11%;
 
}*/



.modalBackgroundjob
{
    background-color: Gray; /*filter:alpha(opacity=70); 	opacity:0.7;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 5-7 */
    filter: alpha(opacity=70); /* Netscape */
    -moz-opacity: 0.7; /* Safari 1.x */
    -khtml-opacity: 0.7; /* Good browsers */
    opacity: 0.7;
}

.div_close
{
    float: right;
    cursor: pointer;
}


.div_frame
{
    width: 100%;
    height: 100%;
    float: left;
    vertical-align: top;
}
.frames
{
    width: 100%;
    height: 90%;
}