
.divTotal
{
  width:1025px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0,.15);
    box-shadow: 8px 8px 8px rgba(0,0,0,.15);
}

.DivBreak
{
    clear:both;
}
.lbl_Header1
{
    font-size:10pt;    
    font-family :sans-serif;
    /*font-weight:bold;*/  
     text-align:left;
    color:navy;
    margin-left:0.5%;
   /*margin-top:10px;*/
}
.DivMain
{
background-color:darkblue;
width:100%;
height:21px;
border-bottom :1px solid black;
}

.Divgrid
{
    width:95%;
    height:100%;
    /*margin-left:1%;
    margin-right:1%;*/
    margin-bottom:1%;
   margin-top:1%;
}

.GridPalICD
{
    width:1000px; 
    Height:375px;
    /*border:1px solid #999997;*/
    margin-left:0.5%;
    /*margin-bottom:1%;*/
    margin-top:1%;
}

.GridPalICDInside
{
   margin-left:1%;
   margin-right:1%;
   margin-bottom:1%;
   margin-top:1%;
}

.DivHeaderlbl
{
    font-size:12pt;    
    font-family :Arial;
    font-weight:bold;   
    color:White;
    margin-left:2%;
    margin-top:0.5%;
   
}

.DivButton
{
    float:right;
    margin-right:0.5%;
    /*margin-top:1%;*/
    margin-bottom:0.5%;
}

.DivJoblbl
{
/*width:10%;*/
/*height:13px;*/
float:left;
margin-left:1%;
margin-top:1.5%;	
color:red;
text-align:left;

}

.DivJobTxt
{
width:10%;
/*height:6%;*/
float:left;	
margin-left:1%;
margin-top:1%;
margin-right:0.2%;
}

.GridHeader_my2
{
    /*background-color:darkblue;
    color:White;
    font-family:sans-serif;
    font-size:9pt;
    margin-left: -0.5%;
    margin-bottom: 0px;
  position :absolute ;
    margin-top:-2.1%;*/

     background-color:darkblue;
    color:White;
    font-family:sans-serif;
    font-size:10pt;
    margin-left: -0.7%;   
    margin-bottom: 0px;  
    position :absolute ;
    margin-top:-2.3%;
   width:945px;
}
